<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form>
        <input name="nomi" type="text" placeholder="Kitob nomini yozing">
        <button>Qidirish</button>
    </form>
    <h1>Hamma kitoblar ro'yxati</h1>
    {%for book in books %}
    <ul>
        <li>
            {{book.id}}. {{book.nom}}  <a href="/kitob_ochirish/{{book.id}}/"><button>Delete</button></a>
        </li>
    </ul>
    {%endfor%}

    <form method="post">{%csrf_token%}

        {{form.as_p}}

<!--        <input type="text" name="nomi" placeholder="Kitobning nomi">-->
<!--        <input type="text" name="janr" placeholder="Kitob janri">-->
<!--        <input type="number" name="sahifa" placeholder="Sahifalar soni">-->
<!--        <label>Muallif:</label>-->
<!--        <select name="mualliflar">-->
<!--            {%for muallif in mualliflar%}-->
<!--            <option value="{{muallif.id}}">{{muallif.ism}}</option>-->
<!--            {%endfor%}-->
<!--        </select>-->
        <button>Qo'shish</button>
    </form>

</body>
</html>