<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kutubxonachilar</title>
</head>
<body>
    <h1>Hamma kutubxonachilar</h1>
    {%for k in kutubxonachilar%}
    <ul>
        <li>
            {{k.ism}}
            <a href="/kutubxonachilar/{{k.id}}/tahrirlash/"><button>Edit</button></a>
        </li>
    </ul>
    {%endfor%}

    <form method="post">{%csrf_token%}

        {{forms.as_p}}

<!--        <label>Ism:</label>-->
<!--        <input name="ismi" type="text">-->
<!--        <label>Ish vaqti:</label>-->
<!--        <select name="vaqt">-->
<!--            <option value="8:00 dan 17:00 gacha">-->
<!--                8:00 dan 17:00 gacha-->
<!--            </option>-->
<!--            <option value="10:00 dan 21:00 gacha">-->
<!--                10:00 dan 21:00 gacha-->
<!--            </option>-->
<!--        </select>-->
        <button>Qo'shish</button>
    </form>

</body>
</html>