<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <input name="muallif_ismi" type="text" placeholder="Muallif ismini yozing">
        <button>Qidirish</button>
    </form>
    <h1>Mualliflar ro'yxati</h1>
    {%for muallif in mualliflar %}
    <ul>
        <li>
            {{muallif.id}}.{{muallif.ism}}
            <a href="/muallif_ochirish/{{muallif.id}}"><button>Delete</button></a>
            <a href="/mualliflar/{{muallif.id}}/tahrirlash/"><button>Edit</button></a>
        </li>
    </ul>
    {%endfor%}

    <form method="post">{% csrf_token%}


        {{form.as_p}}


<!--        <label>Ismi va Familiyasi: </label>-->
<!--        <input name="ismi" type="text" placeholder="Muallifning ismi">-->
<!--        <label>Jins:</label>-->
<!--        <select name="jins">-->
<!--            <option value="Erkak">Erkak</option>-->
<!--            <option value="Ayol">Ayol</option>-->
<!--        </select>-->
<!--        <label>Tug'ilgan sanasi:</label>-->
<!--        <input name="date" type="date" placeholder="Tug'ilgan kuni">-->
<!--        <label>Kitoblari soni: </label>-->
<!--        <input name="kitob" type="number" placeholder="Kitoblar soni">-->
<!--        <label>Tirik:</label>-->
<!--        <input type="checkbox" name="tirikmi">-->
        <button>Qo'shish</button>
    </form>
</body>
</html>