<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="get">
        <input name="talaba_ismi" type="text" placeholder="Talaba ismini yozing">
        <button>Qidirmoq</button>
    </form>
    <h1>Hamma recordlar haqidagi ma'lumotlar</h1>
    {%for r in record%}
    <ul>
        <li>
            Olgan talaba: {{r.talaba}}
        </li>
        <li>
            Kitob: {{r.Kitob}}
        </li>
        <li>
            Kutubxonachi: {{r.kutubxonachi}}
        </li>
        <li>
            Olingan sana: {{r.olingan_sana}}
        </li>
        <li>
            Qaytargan: {{r.qaytardi}}
        </li>
        <li>
            Qaytarilgan sana: {{r.qaytarish_sana}}
        </li>
    </ul>
    <a href="/recordni_ochirish/{{r.id}}/"><button>Delete</button></a>
    <a href="/recordlar/{{r.id}}/tahrirlash/"><button>Edit</button></a>
{%endfor%}

    <form method="post"> {%csrf_token%}
        <label>Talaba ismi:</label>
        <select name="talaba">
            {%for t in talabalar%}
            <option value="{{t.id}}">{{t.ism}}</option>
            {%endfor%}
        </select>
        <label>Kitob nomi:</label>
        <select name="kitob">
            {%for k in kitoblar%}
            <option value="{{k.id}}">{{k.nom}}</option>
            {%endfor%}
        </select>
        <label>Kutubxonachi ismi:</label>
        <select name="k_chi">
            {%for k in kutubxonachi%}
            <option value="{{k.id}}">{{k.ism}}</option>
            {%endfor%}
        </select>
        <label>Sana:</label>
        <input name="sana" type="date">
        <label>Qaytardi:</label>
        <input type="checkbox" name="qaytardimi">
        <label>Qaytarish_sana:</label>
        <input name="q_sana" type="date">
        <button>Qo'shish</button>
    </form>
</body>
</html>