<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="get">
        <input name="ismi" type="text" placeholder="Talaba ismini yozing">
        <button>Qidirish</button>
    </form>
    <br>
    <h1>Hamma Talabalar ro'yxati</h1>
    {%for student in students %}
    <ul>
        <li>
            {{student.id}}.{{student.ism}}
            <a href="/talaba_ochir/{{student.id}}"><button>Delete</button></a>
            <a href="/talabalar/{{student.id}}/tahrirlash/"><button>Edit</button></a>
        </li>
    </ul>
    {%endfor%}
    <hr>
    <form method="post">{% csrf_token %}
        <input type="text" name="ismi" placeholder="Talaba ismi">
        <input type="number" name="k" placeholder="Kurs">
        <input type="number" name="k_soni" placeholder="Kitoblar soni">

        <button >Ma'lumot qo'shish</button>
    </form>
</body>
</html>