<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Talaba</title>
</head>
<body>
  <h1>Talaba ma'lumotini o'zgartirish</h1>
  <form method="post" action="/talabalar/{{talaba.id}}/tahrirlash/">
      {%csrf_token%}
      <label>Ism:</label>
      <input type="text" name="ism" value="{{talaba.ism}}">
      <label>Kurs:</label>
      <input type="number" name="kurs" >
      <label>Kitoblar soni:</label>
      <input type="number" name="kitob_soni" >
      <button type="submit">Edit</button>
  </form>
</body>
</html>